.types-float {
  width: 100%;
  position: absolute;
  top: -16px;
  font-size: 10px;
}

.btn-type {
  border: none;
  padding: 1px 4px;
  margin: 1px 2px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
  color: var(--white);
}

.normal-type {
  border-color: var(--normal-type-color)!important;
  background-color: var(--normal-type-color)!important;
}

.fire-type {
  border-color: var(--fire-type-color)!important;
  background-color: var(--fire-type-color)!important;
}

.water-type {
  border-color: var(--water-type-color)!important;
  background-color: var(--water-type-color)!important;
}

.electric-type {
  border-color: var(--electric-type-color)!important;
  background-color: var(--electric-type-color)!important;
}

.grass-type {
  border-color: var(--grass-type-color)!important;
  background-color: var(--grass-type-color)!important;
}

.ice-type{
  border-color: var(--ice-type-color)!important;
  background-color: var(--ice-type-color)!important;
}

.fighting-type{
  border-color: var(--fighting-type-color)!important;
  background-color: var(--fighting-type-color)!important;
}

.poison-type{
  border-color: var(--poison-type-color)!important;
  background-color: var(--poison-type-color)!important;
}

.ground-type{
  border-color: var(--ground-type-color)!important;
  background-color: var(--ground-type-color)!important;
}

.flying-type{
  border-color: var(--flying-type-color)!important;
  background-color: var(--flying-type-color)!important;
}

.psychic-type{
  border-color: var(--psychic-type-color)!important;
  background-color: var(--psychic-type-color)!important;
}

.bug-type{
  border-color: var(--bug-type-color)!important;
  background-color: var(--bug-type-color)!important;
}

.rock-type{
  border-color: var(--rock-type-color)!important;
  background-color: var(--rock-type-color)!important;
}

.ghost-type{
  border-color: var(--ghost-type-color)!important;
  background-color: var(--ghost-type-color)!important;
}

.dragon-type{
  border-color: var(--dragon-type-color)!important;
  background-color: var(--dragon-type-color)!important;
}

.dark-type{
  border-color: var(--dark-type-color)!important;
  background-color: var(--dark-type-color)!important;
}

.steel-type{
  border-color: var(--steel-type-color)!important;
  background-color: var(--steel-type-color)!important;
}

.fairy-type{
  border-color: var(--fairy-type-color)!important;
  background-color: var(--fairy-type-color)!important;
}

