.App {
  text-align: center;
}

a.nav-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--material-border) !important;
}

button.search-button {
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 1rem;
  &:hover {
    color: var(--red);
    background-color: var(--ffdbd0);
  }
}

.poke-link {
  color: var(--red) !important;
  border-color: var(--red) !important;
  &:disabled { 
    color: var(--f7f0f0) !important;
    border-color: gray !important;
  }
}


